<div th:fragment="film-list" class="film-series-container">
    <h1>Films List</h1>
    <table>
        <thead>
            <td class="table-left-col">Name</td>
            <td class="table-middle-col">Release date</td>
            <td class="table-middle-col">Director</td>
            <td class="table-middle-col">Duration</td>
            <td class="table-right-col">Site</td>
        </thead>
        <tbody>
            <tr th:each="film : ${films}">
                <td th:text="${film.title}" class="table-left-col"></td>
                <td th:text="${film.release_date}" class="table-middle-col"></td>
                <td th:text="${film.director.name}" class="table-middle-col"></td>
                <td th:text="${film.duration}" class="table-middle-col"></td>
                <td class="table-right-col"><a th:href="${film.site.url}" th:text="${film.site.name}"></a></td>
            </tr>
        </tbody>
    </table>
    <div class="add-film-container">
        <a href="films/add" class="btn add-btn">Add a film</a>
    </div>
</div>