<footer th:fragment="footer">
    <div class="footer-img-container">
        <img th:src="@{/images/ARC_RGB_Logo_transp_black.png}" alt="He-Arc Logo" class="footer-img">
    </div>
    <div class="footer-center-container">
        <div class="footer-center">
            <h3 class="footer-header">He-Arc</h3>
            <p class="footer-text">Espace de l'Europe 21</p>
            <p class="footer-text">2000 Neuchâtel</p>
            <p class="footer-text">Switzerland</p>
        </div>
    </div>
    <div class="footer-right-container">
        <div class="footer-right">
            <h3 class="footer-header">Context</h3>
            <p class="footer-text">This website is a school project for the course "JEE / Spring" at the HE-Arc.</p>
        </div>
    </div>
</footer>