<nav th:fragment="navbar">
    <div class="nav-section" id="nav-logo-section">
        <!-- <img th:src="@{/images/logo.png}" alt="logo" id="nav-logo"> -->
        <h1 id="nav-logo">TVDB</h1>
    </div>
    <div class="nav-section" id="nav-links-section">
        <a href="/">Home</a>
        <a href="/series">Series</a>
        <a href="/films">Films</a>
        <a href="/about">About</a>
    </div>
    <div class="nav-section" id="nav-login-section">
        <a href="/login">Login <i class="fa-solid fa-right-to-bracket"></i></a>
    </div>
</nav>