<div th:fragment="series-list" class="film-series-container">
    <h1>Series List</h1>
    <table>
        <thead>
            <td class="table-left-col">Name</td>
            <td class="table-middle-col">Release date</td>
            <td class="table-middle-col">Seasons</td>
            <td class="table-right-col">Episodes</td>
        </thead>
        <tbody>
            <tr th:each="series : ${series}">
                <td th:text="${series.name}" class="table-left-col"></td>
                <td th:text="${series.releaseDate}" class="table-middle-col"></td>
                <td th:text="${series.seasons}" class="table-middle-col"></td>
                <td th:text="${series.episodes}" class="table-right-col"></td>
            </tr>
    </table>
    <div class="add-series-container">
        <a href="add-series" class="btn add-btn">Add a series</a>
    </div>
</div>