<div th:fragment="series-list" class="film-series-container">
    <h1>Series List</h1>
    <table>
        <thead>
            <td class="table-left-col">Name</td>
            <td class="table-middle-col">Release date</td>
            <td class="table-middle-col">Seasons</td>
            <td class="table-middle-col">Episodes</td>
            <td class="table-right-col">Edit</td>
        </thead>
        <tbody>
            <tr th:each="series : ${series}">
                <td th:text="${series.name}" class="table-left-col"></td>
                <td th:text="${series.release_date}" class="table-middle-col"></td>
                <td th:text="${series.seasons}" class="table-middle-col"></td>
                <td th:text="${series.episodes}" class="table-middle-col"></td>
                <td class="table-right-col"><a th:href="@{/series/edit/{id}(id=${series.id})}" class="btn edit-btn">Edit</a></td>
            </tr>
    </table>
    <div class="add-series-container">
        <a href="series/add-series" class="btn add-btn">Add a series</a>
    </div>
</div>