.film-series-container {
    margin-top: 3rem;
    margin-inline: auto;
    width: 50%;
}

.film-series-container>h1 {
    margin-bottom: 1rem;
}

.film-series-container>table {
    width: 100%;
    border-collapse: collapse;
}

.film-series-container>table>thead {
    border-bottom: 3px solid var(--clr-text);
    font-size: 1.2rem;
}

.film-series-container>table>tbody>tr,
.film-series-container>table>thead>tr {
    border-bottom: 1px solid var(--clr-text);
    min-height: 3rem;
}

.film-series-container>table>tbody>tr>td {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.film-series-container>table>tbody>tr>td>a {
    color: var(--clr-accent-orange);
}

.table-left-col {
    text-align: left;
}

.table-right-col {
    text-align: right;
}

.table-middle-col {
    text-align: center;
}

.add-film-container,
.add-series-container {
    margin-top: 1rem;
    margin-inline: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.btn {
    display: flex;
    position: relative;
    margin-bottom: 1rem;
    margin-inline: auto;
    width: 50%;
    border-radius: 0.7rem;
    background-color: var(--clr-accent-rust);
    color: var(--clr-text);
    font-size: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    height: 3rem;
    font-weight: bold;
    margin-top: 2rem;
}

.btn:hover,
.btn:focus {
    background-color: var(--clr-accent-orange);
    color: var(--clr-bg);
}