.film-series-container {
    margin-top: 3rem;
    margin-inline: auto;
    width: 50%;
}

.film-series-container>h1 {
    margin-bottom: 1rem;
}

.film-series-container>table {
    width: 100%;
    border-collapse: collapse;
}

.film-series-container>table>thead {
    border-bottom: 3px solid var(--clr-text);
    font-size: 1.2rem;
}

.film-series-container>table>tbody>tr,
.film-series-container>table>thead>tr {
    border-bottom: 1px solid var(--clr-text);
    min-height: 3rem;
}

.table-left-col {
    text-align: left;
}

.table-right-col {
    text-align: right;
}

.table-middle-col {
    text-align: center;
}