nav {
    --border-size: 2px;
    position: sticky;
    top: 0;
    left: 0;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    background-color: var(--clr-accent-blue);
    color: var(--clr-text);
    border-bottom: var(--border-size) solid var(--clr-accent-border);
    font-variant: small-caps;
}

nav>.nav-section {
    /* padding: 2rem 3rem; */
    display: flex;
    gap: 1rem;
    border-left: var(--border-size) solid var(--clr-accent-border);
    align-items: center;
    justify-content: center;
}

nav>.nav-section>a {
    color: var(--clr-text);
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
}

nav>.nav-section>a:hover,
nav>.nav-section>a:focus {
    color: var(--clr-heading);
    text-decoration: underline;
    /* font-size: 1.1rem; */
    transform: scale(1.1);
}

nav>#nav-logo-section {
    flex-basis: calc(100%/5);
    justify-content: center;
    max-height: 75px;
}

#nav-logo {
    background: linear-gradient(to right, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 25%, rgba(253, 114, 39, 1) 50%, rgba(253, 29, 29, 1) 75%, rgba(131, 58, 180, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    border-left: none;
    font-size: 4rem;
    color: transparent;
    user-select: none;
    letter-spacing: 1rem;
}

nav>#nav-links-section {
    flex-basis: calc(3*100%/5);
    justify-content: space-evenly;
}

nav>#nav-login-section {
    flex-grow: 1;
}

nav>a {
    color: var(--clr-text);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}