nav {
  --border-size: 2px;
  position: sticky;
  top: 0;
  left: 0;
  height: auto;
  display: flex;
  background-color: var(--clr-accent-blue);
  color: var(--clr-text);
  border-bottom: var(--border-size) solid var(--clr-accent-border);
  font-variant: small-caps;
  z-index: 100;
}

.nav-section {
  /* padding: 2rem 3rem; */
  display: flex;
  gap: 1rem;
  border-left: var(--border-size) solid var(--clr-accent-border);
  align-items: center;
  justify-content: center;
}

.link-nav {
  color: var(--clr-text);
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.link-nav:hover,
.link-nav:focus {
  color: var(--clr-heading);
  text-decoration: underline;
  /* font-size: 1.1rem; */
  transform: scale(1.1);
}

#nav-logo-section {
  flex-basis: calc(100% / 5);
  justify-content: center;
  max-height: 75px;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

.link-logo:visited,
.link-logo {
  animation: background-pan 8s linear infinite;
  background: linear-gradient(
    to right,
    var(--clr-gradient-1) 0%,
    var(--clr-gradient-2) 25%,
    var(--clr-gradient-3) 50%,
    var(--clr-gradient-2) 75%,
    var(--clr-gradient-1) 100%
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  border-left: none;
  font-size: 4rem;
  color: transparent;
  letter-spacing: 1rem;
  font-family: "Unbounded", cursive;
}

.link-logo {
  text-decoration: none;
}

#nav-links-section {
  flex-basis: calc(3 * 100% / 5);
  justify-content: space-evenly;
}

#nav-login-section {
  flex-grow: 1;
}

nav > a {
  color: var(--clr-text);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

@media screen and (max-width: 748px) {
  nav,
  nav > .nav-section {
    flex-direction: column;
  }

  #nav-logo-section {
    flex-basis: 100%;
    justify-content: center;
    max-height: 1.6rem;
  }

  #nav-logo {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
  }

  #nav-links-section,
  #nav-login-section {
    line-height: 1.1rem;
    margin-top: 0.3rem;
  }

  #nav-login-section {
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
  }
}
