<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TVDB - Edit site</title>
    <script src="https://kit.fontawesome.com/957e86b231.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script th:src="@{/js/time_converter.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap"
      rel="stylesheet"
    />
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <main>
        <div class="container">
            <div class="login-container">
                <form action="#" th:action="@{/site/edit-site}" method="post" class="login-form">
                    <h1 class="login-header">
                        Add site
                    </h1>
                    <div class="form-input-container">
                        <input type="text" name="id" id="id" hidden th:value="${site.id}">
                        <div class="input-group">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" name="name" id="name" class="form-input" th:required="required" th:value="${site.name}">
                        </div>
                        <div class="input-group">
                            <label for="url" class="form-label">URL</label>
                            <input type="url" name="url" id="url" class="form-input" th:required="required" th:value="${site.url}">
                        </div>
                    </div>
                    <div class="form-btn-container">
                        <button type="submit" class="btn btn-submit">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>

</html>