<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TVDB - About</title>
    <script src="https://kit.fontawesome.com/957e86b231.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/about.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <main>
        <div class="container">
            <div class="about-container">
                <img th:src="@{/images/ARC_RGB_Logo_transp.png}" alt="He-Arc Logo" class="about-img">
                <div class="about-text">
                    <h2 class="about-header">
                        Developped by:
                    </h2>
                    <ul class="about-list">
                        <li>Timothy Peck</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>

</html>